body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #F3F5F8;
  overflow: auto;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.scrollarea {
  overflow-y: auto;
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #24344B;
  position: sticky;
  top: 0;
}

.sidebar-list{
  background-color: #2B3C58;
}

.sidebar-list .btn{
  width: 100%;
}

.sidebar-list .btn:not(.collapsed){
  background-color: #3B4F6A !important;
}

.sidebar-list .collapsed{
  background-color: #2B3C58 !important;
}

.white-color{
  color: white !important;
}

.content-container{
  width: 100%;
}

.card {
  width: 33%;
  height: 100%;
  max-width: 200px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 11px 0 rgba(0, 0, 0, 0.14);
  row-gap: 5px;
}

.card-list {
  column-gap: 20px;
  height: 15%;
  row-gap: 20px;
  flex-wrap: wrap;
}

.inventory-icon {
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  margin-bottom: 0px;
}

.title-card {
  height: 40%;
  column-gap: 10px;
}

.card button{
  margin-top: 5px;
  border-radius: 30px;
  width: 100%;
}

.add-button {
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: 48px;
  height: 48px;
  margin-right: 3%;
  background-color: #2B3C58;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="1em" fill="white" viewBox="0 0 448 512"%3E%3Cpath d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  fill: aqua;
}

.new_process{
  width: 30%;
  height: 10%;
  background-color: white;
}

.new_process button{
  width: 100%;
  padding: 15px;
}

.process_list{
  row-gap: 10px;
}

.new_process .material_information{
  justify-content: space-between;
}

.new_process p{
  margin: 0;
}

.option-line{
  row-gap: 5px;
}

.planning_options .option{
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  text-decoration: underline;
}

.add_process{
  width: 30%;
}

[data-calendar-container] {
  width: 75%;
  height: 80%;
}