body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: rgb(204,213,174);
  overflow: auto;
}

html {
  height: -webkit-fill-available;
}

.app {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.scrollarea {
  overflow-y: auto;
}

/*sidebar css */
.signout a{
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}


.sidebar {
  width: 280px;
  height: 100vh;
  background-color: rgb(246,244,240);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  background-color: rgb(246,244,240);
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.sidebar-list li:last-of-type{
  margin-top: auto;
}


.sidebar-list .btn{
  width: 100%;
}

.sidebar-list .btn:not(.collapsed){
  background-color: rgba(204,213,174,0.5) !important;
}

.sidebar-list .collapsed{
  background-color: rgba(204,213,174,0.5)!important;
}

.white-color{
  font-family: "Poppins", sans-serif;
  color: rgb(40,54,24) !important;
}

.content-container{
  width: 100%;
}

.card {
  width: 33%;
  height: 100%;
  max-width: 200px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 11px 0 rgba(0, 0, 0, 0.14);
  row-gap: 5px;
}

.card-list {
  column-gap: 20px;
  height: 15%;
  row-gap: 20px;
  flex-wrap: wrap;
}

.inventory-icon {
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  margin-bottom: 0px;
}

.title-card {
  height: 40%;
  column-gap: 10px;
}

.card button{
  margin-top: 5px;
  border-radius: 30px;
  width: 100%;
}

.add-button {
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  width: 48px;
  height: 48px;
  margin-right: 3%;
  background-color: #2B3C58;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="1em" fill="white" viewBox="0 0 448 512"%3E%3Cpath d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  fill: aqua;
}

.new_process{
  width: 30%;
  height: 10%;
  background-color: white;
}

.new_process button{
  width: 100%;
  padding: 15px;
}

.process_list{
  row-gap: 10px;
}

.new_process .material_information{
  justify-content: space-between;
}

.new_process p{
  margin: 0;
}

.option-line{
  row-gap: 5px;
}

.planning_options .option{
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  text-decoration: underline;
}

.add_process{
  width: 30%;
}

[data-calendar-container] {
  width: 75%;
  height: 80%;
}

/*Home page CSS */

/** * Set up our wrapper element (float clearing etc). */
.foo {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
}
/** * Set up modifiers for different amounts of content. */
.foo--two-items > .foo__item {
  width: 50%;
}
.foo--three-items > .foo__item {
  width: 33.333%;
}
.foo--four-items > .foo__item {
  width: 25%;
}
.foo--five-items > .foo__item {
  width: 20%;
}
/** * Style up our items. */
.foo__item {
  float: left;
  padding: 1em;
  border-width: 0 1px;
  border-style: solid;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.foo__item:first-child {
  border-left-width: 0;
}
.foo__item:last-child {
  border-right-width: 0;
}
/** * Set up hover effects;
all non-hovered items get 5% narrower. */
.foo--two-items:hover > .foo__item {
  width: 45%;
}
.foo--two-items .foo__item:hover {
  width: 55%;
}
.foo--three-items:hover > .foo__item {
  width: 28.333%;
}
.foo--three-items .foo__item:hover {
  width: 43.333%;
}
.foo--four-items:hover > .foo__item {
  width: 20%;
}
.foo--four-items .foo__item:hover {
  width: 40%;
}
.foo--five-items:hover > .foo__item {
  width: 15%;
}
.foo--five-items .foo__item:hover {
  width: 40%;
}


/* homepage.css */
.carousel-item,
.carousel-inner {
  height: 100%;
}

.carousel-image {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.black-text {
  color: black;
}

.carousel-item {
  background-color: white;
  height: 60vh;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.homepage-content {
  max-width: 800px;
  text-align: center;
  margin-bottom: 30px;
}

.big-title {
  font-size: 60px; /* Increase font size for a huge title */
  font-weight: 700;
  margin: 0 auto; /* Center the title horizontally */
  color: rgb(40, 54, 24);
  font-family: "Montserrat", sans-serif; /* Use the Montserrat font-family */
  text-align: center; /* Center the text within the container */
  text-transform: uppercase; /* Make the text all uppercase for a more "llamativo" appearance */
}


.button-section {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-section button {
  padding: 10px 20px;
  font-weight: bold;
}

.button-section .btn-primary {
  background-color: rgb(77, 119, 78);
  border-color: rgb(77, 119, 78);
}

.button-section .btn-secondary {
  background-color: rgb(157, 200, 141);
  border-color: rgb(157, 200, 141);
  color: rgb(19, 19, 19);
}

.carousel-container {
  width: 100%;
  height: 80%;
}

.carousel-indicators button {
  background-color: #222222 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

/*Calendar css */

#calendar a{
  color: rgb(40,54,24) !important;
}

.calendarTitle{
  font-family: "Poppins", sans-serif;
  font-size: 35px; /* Increase font size for a huge title */
  font-weight: 700;
  color: rgb(40, 54, 24);
  text-align: center; /* Center the text within the container */
  text-transform: uppercase; /* Make the text all uppercase for a more "llamativo" appearance */
  margin: 0 auto; /* Center the title horizontally */
}

